@import "./components/Card/card";
@import "./components/CustomQuestion/custom-question";
@import "./components/CustomSelect/custom-select";
@import "./components/Layout/Sidebar/sidebar";
@import "./components/Layout/layout";
@import "./components/Layout/Header/header";
@import "./components/Checkbox/checkbox";
@import "./components/ToggleSwitch/toggle-switch";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

input {
  font-size: 1rem;
}
