@import "./components/Card/card";
@import "./components/CustomQuestion/custom-question";
@import "./components/CustomSelect/custom-select";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

input {
  font-size: 1rem;
}