.custom-question {
  padding: 1rem 0;
}

.form-group {
  position: relative;
  &.max-choice {
    margin-top: 2rem;
  }
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.select-label {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 0.75rem;
}

.custom-input,
.custom-select {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 60px;
}

.add-choice {
  display: flex;
  align-items: center;
  gap: 0.5rem;
 
  & .add-choice-btn {
    background: none;
    border: none;
    
  }
}

.custom-input {
  padding: 0 1rem;
}

.question-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.delete-question-btn {
  color: #a80000;
}

.save-btn {
  border-radius: 5px;
  background: #087b2f;
  color: #fff;
  border: none;
  padding: 0 0.5rem;
}
